@font-face {
  font-family: 'OCR A Std';
  src: url('./fonts/OCRAStd.otf');
}

:root {
  --color-blue: #23a6d5;
  --color-light-blue: #00CBFF;
  --color-light-orange: #ee7752;
  --color-light-green: #23d5ab;
  --color-light-pink: #e73c7e;
  --color-dark-blue: #006781;
  --color-white: #EFEFEF;
  --color-gray: #9f9f9f;
  --color-dark-gray: #3d3d3d;
  --color-dark: #201f1f;
  --color-light-dark: #292929;
  --color-black: #000;

  color-scheme: dark;
}

body {
  position: relative;
  margin: 0;
  font-family: 'OCR A Std', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-dark);
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-white);
  transition: color .2s;
}

a:hover {
  color: var(--color-white) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
}

.bar {
  width: 100%;
  height: 15px;
  background: linear-gradient(-45deg, var(--color-light-orange), 
    var(--color-light-pink), var(--color-blue), var(--color-light-green));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  z-index: 10;
}

header {
  width: 100%;
  height: auto;
  padding-top: 55px;
  padding-bottom: 35px;
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid var(--color-dark-gray);
}

header span, b {
  font-size: 42px;
}

header b {
  margin-right: 15px;
}

main {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 50px;
  min-height: calc(100vh - 235px - 70px);
}

footer {
  width: 100%;
  height: auto;
  padding: 30px 0px 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 12px;
  background-color: var(--color-light-dark);
}

footer span {
  font-size: 14px;
  color: var(--color-gray);
}

footer a {
  font-size: 14px;
  color: var(--color-gray);
}

footer .version {
  opacity: .4;
  font-size: 12px;
}

.animation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background-image: url('./imgs/stars.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: .3;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-color {
  0% {
    border-color: var(--color-light-orange);
  }
  25% {
    border-color: var(--color-light-pink);
  }
  50% {
    border-color: var(--color-blue);
  }
  70% {
    border-color: var(--color-light-green);
  }
  100% {
    border-color: var(--color-light-orange);
  }
}

@media (max-width:1200px) {
  main {
    width: 900px;
  }
  header span, b {
    font-size: 32px;
  }
} 

@media (max-width:1000px) {
  main {
    width: 700px;
  }
}  

@media (max-width:800px) {
  main {
    width: 90%;
  }
  header span, b {
    font-size: 22px;
  }
  header b {
    margin-right: 0px;
  }
  header {
    padding-top: 45px;
    padding-bottom: 25px;
  }
}  